python challenge 2:

In [ ]:
# Secret Message Decoder

# Ask the user to input a secret message
message = input("Enter your secret message: ")

# Step 1: Convert entire message to uppercase
message = message.upper()

# Step 2: Replace all spaces with underscores
message = message.replace(" ", "_")

# Step 3: Show only every 3rd character
third_chars = message[::3]

# Step 4: Reverse the message
reversed_msg = message[::-1]

# Step 5: Display results
print("\n--- Secret Message Decoder ---")
print("Original message length:", len(message))
print("Transformed Message:", message)
print("Every 3rd Character:", third_chars)
print("Reversed Message:", reversed_msg)

Enter your secret message: DHARANIKA was feeling very good

--- Secret Message Decoder ---
Original message length: 31
Transformed Message: DHARANIKA_WAS_FEELING_VERY_GOOD
Every 3rd Character: DRI_SEI_RGD
Reversed Message: DOOG_YREV_GNILEEF_SAW_AKINARAHD

python challenge 1:

In [ ]:
name="dharanika"
name1="harini"
name2="sharina"
name3="vedha"
age=19
age1=18
age2=17
age3=16
subject="Maths"
subject1="Science"
subject2="English"
subject3="ComputerScience"
print("-----------------------------------------------------------")
print("                  STUDENT'S INFORMATION                ")
print("-----------------------------------------------------------")
print("  Student'S Name  /  Age  /  Favourite Subjects            ")
print("                                                           ")
print(" 1.  ",name,"       ",age,"     ",subject)
print(" 2.  ",name1,"         ",age1,"     ",subject1)
print(" 3.  ",name2,"      ",age2,"     ",subject2)
print(" 4.  ",name3,"         ",age3,"     ",subject3)
print("                                                           ")
print("-----------------------------------------------------------")

print("  Updated List of Subjects:")
print("-----------------------------")
print("1.Maths")
print("2.Science")
print("3.English")
print("4.ComputerScience")

-----------------------------------------------------------
                  STUDENT'S INFORMATION
-----------------------------------------------------------
  Student'S Name  /  Age  /  Favourite Subjects

 1.   dharanika         19       Maths
 2.   harini           18       Science
 3.   sharina        17       English
 4.   vedha           16       ComputerScience

-----------------------------------------------------------
  Updated List of Subjects:
-----------------------------
1.Maths
2.Science
3.English
4.ComputerScience

In [1]:
# Step 1: Create Tuple for each student (immutable personal info)
student1 = ("Riya", 201, "BBA")
student2 = ("Karan", 202, "BBA")
student3 = ("Sneha", 203, "BBA")

students = [student1, student2, student3]

print("Students:", students)

# Step 2: Create 1D List for marks of 3 students
marks1 = [91, 87, 85]
marks2 = [78, 82, 80]
marks3 = [88, 90, 86]

# Step 3: Combine all marks into a 2D List
batch1 = [marks1, marks2, marks3]

batch2 = [
    [84, 79, 81],
    [76, 85, 83],
    [89, 88, 90]
]

# Step 4: Combine all batches (3D List - two different batches)
all_batches = [batch1, batch2]
print("All Batches:", all_batches)

Students: [('Riya', 201, 'BBA'), ('Karan', 202, 'BBA'), ('Sneha', 203, 'BBA')]
All Batches: [[[91, 87, 85], [78, 82, 80], [88, 90, 86]], [[84, 79, 81], [76, 85, 83], [89, 88, 90]]]